@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Quicksand";
}

body {
  background-color: rgb(10, 10, 10);
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
}

header .head-body {
  width: 90vw;
  padding: 3em;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  font-weight: 700;
}

header .head-body h1 {
  font-size: 5em;
  color: rgb(230, 230, 230);
  font-family: "Alfa Slab One";
}

header .head-body h3 {
  font-size: 3em;
  color: rgb(255, 255, 255);
  font-family: "Alfa Slab One";
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.tabs .tablinks {
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0 10px;
  outline: none;
  border: none;
  background: rgb(20, 20, 20);
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.tabs .tablinks:hover {
  box-shadow: 0 0 10px rgb(65, 65, 65);
}

.forms {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.form {
  padding: 20px;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(143, 143, 143, 0.3);
  display: flex;
}

.my-input {
  padding: 0.5rem 0;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(145, 145, 145);
  color: white;
}

.my-input::placeholder {
  color: white;
}

.data {
  width: 90vw;
  margin: 20px auto;
  padding: 0 20px;
}

.text {
  width: 90vw;
  margin: 0 auto;
  padding: 0 20px;
}

.text h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.data .content {
  padding: 1rem;
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  width: 100%;
  font-size: 1.5rem;
  margin: 10px 0;
  transition: 0.5s ease-in;
  color: white;
}

.data .content:hover {
  box-shadow: 0 0 20px rgb(143, 143, 143, 0.2);
  cursor: pointer;
}

.data .content img {
  display: flex;
  width: 100%;
}

.data .content h1 {
  font-size: 5rem;
  text-align: center;
  margin: 20px 0;
}

.data .populations {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
}

.data .populations .case-population {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding: 2em;
  text-align: center;
  transition: 0.5s ease-in;
}

.data .populations .case-population:hover {
  box-shadow: 0 0 20px rgb(143, 143, 143, 0.2);
  cursor: pointer;
}

.data .populations .case-population h4 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: white;
}

.data .populations .case-population h2 {
  font-size: 3rem;
  color: white;
}

.data .cases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 1em;
}

.data .cases .case {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding: 2em;
  text-align: center;
  transition: 0.5s ease-in;
}

.data .cases .case:hover {
  box-shadow: 0 0 20px rgb(143, 143, 143, 0.2);
  cursor: pointer;
}

.data .cases .case h4 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: white;
}

.data .cases .case h2 {
  font-size: 3rem;
  color: white;
}

.credits {
  width: 90vw;
  padding: 0 20px;
  margin: 0 auto;
  margin: 20px auto;
}

.credits .credit-title h1 {
  font-size: 3rem;
  color: white;
}

.credits .credit-name h3 {
  color: white;
  font-size: 2rem;
  margin: 10px 0;
}

.credits .credit-name h3 > a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}

@media (max-width: 575.98px) {
  header .head-body {
    text-align: center;
  }

  header .head-body h3 {
    font-size: 1.2rem;
  }

  .data .cases {
    grid-template-columns: 1fr;
  }

  .data .content h1 {
    font-size: 3rem;
  }

  .text {
    text-align: center;
  }

  .credits {
    text-align: center;
  }
}
